vti_encoding:SR|utf8-nl
vti_author:SR|nanacovx1\\abe
vti_modifiedby:SR|MOSSMAL\\abe
vti_timelastmodified:TR|10 Jun 2016 22:15:36 -0000
vti_timecreated:TR|07 Sep 2013 13:36:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_ftp005.upp.so-net.ne.jp\:21/public_html:TW|07 Oct 2014 12:41:00 -0000
vti_syncwith_ftp005.upp.so-net.ne.jp\:21/public_html:TX|07 Oct 2014 04:56:49 -0000
vti_cacheddtm:TX|10 Jun 2016 22:15:36 -0000
vti_filesize:IR|2869
vti_cachedlinkinfo:VX|Q|layout.css S|../images/leftphoto.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/leftphoto.jpg
vti_syncwith_ftp005.upp.so-net.ne.jp\:21/%2fpublic_html:TX|10 Jun 2016 22:15:36 -0000
vti_syncofs_ftp005.upp.so-net.ne.jp\:21/%2fpublic_html:TW|16 Oct 2017 08:30:35 -0000
